            .login-usuario{
                background-color: rgba(0,0,0,0.9);
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding-top: 70px;
                padding-bottom: 70px;
                padding-left: 50px;
                padding-right: 50px;
                border-radius: 20px;
                color: white;
            } 
            .registrar{
                background-color: rgba(0,0,0,0.9);
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding-left: 105px;
                padding-right: 105px;
                border-radius: 20px;
                color: white;
            }
            input{
                padding: 15px;
                border: none;
                outline: none;
                font-size: 30px;
            }
            .botaoLO{
                margin-top: 20px;
                background-color: dodgerblue;
                border: none;
                padding: 15px;
                width: 100%;
                border-radius: 10px;
                color: white;
                font-size: 15px;             
            }
            .botaoRE{
                margin-bottom: 50px;
                background-color: dodgerblue;
                border: none;
                padding: 15px;
                width: 100%;
                border-radius: 10px;
                color: white;
                font-size: 15px;             
            }
            button:hover{
                background-color: deepskyblue;
                cursor: pointer;
            }
            h1{
                margin-bottom: 50px; 
            }
